<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
</head>
<body>
    <a href="/Home">Home</a>

    <p>Born in 1946 in Zanzibar to Parsi-Indian parents, Mercury attended English-style boarding schools in India from the age of eight and returned to Zanzibar after secondary school. In 1964, his family fled the Zanzibar Revolution, moving to Middlesex, England. Having studied and written music for years, he formed Queen in 1970 with guitarist Brian May and drummer Roger Taylor. Mercury wrote numerous hits for Queen, including "Killer Queen", "Bohemian Rhapsody", "Somebody to Love", "We Are the Champions", "Don't Stop Me Now" and "Crazy Little Thing Called Love". His charismatic stage performances often saw him interact with the audience, as displayed at the 1985 Live Aid concert. He also led a solo career and was a producer and guest musician for other artists.
        Mercury was diagnosed with AIDS in 1987. He continued to record with Queen, and he posthumously featured on their final album, Made in Heaven (1995). He announced his diagnosis the day before his death from complications from the disease in 1991 at the age of 45. In 1992, his tribute concert for AIDS awareness was held at Wembley Stadium. His career with Queen was dramatised in the 2018 biopic Bohemian Rhapsody.
        As a member of Queen, Mercury was posthumously inducted into the Rock and Roll Hall of Fame in 2001, the Songwriters Hall of Fame in 2003, and the UK Music Hall of Fame in 2004. In 1990, he and the other Queen members were awarded the Brit Award for Outstanding Contribution to British Music, and one year after his death Mercury was awarded it individually. In 2005, Queen were awarded an Ivor Novello Award for Outstanding Song Collection from the British Academy of Songwriters, Composers, and Authors. In 2002, Mercury was voted number 58 in the BBC's poll of the 100 Greatest Britons.</p>


</body>
</html>