<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Works</title>
    <link rel="stylesheet" href="../stylesheets/style.css" />
  </head>
  <body>
    <nav id="nav">
      <ul>
        <li><a href="/home">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/works">Works</a></li>
      </ul>
    </nav>
    <div class="work">
      <h4>Vocals</h4>
      <img src="../images/works-4.jpg" alt="" />
      <p>
        His technique was astonishing. No problem of tempo, he sang with an
        incisive sense of rhythm, his vocal placement was very good and he was
        able to glide effortlessly from a register to another. He also had a
        great musicality. His phrasing was subtle, delicate and sweet or
        energetic and slamming. He was able to find the right colouring or
        expressive nuance for each word
      </p>
    </div>
    <div class="work">
      <h4>Songwriting</h4>
      <img src="../images/works-1.jpg" alt="" />
      <p>
        Mercury wrote 10 of the 17 songs on Queen's Greatest Hits album:
        "Bohemian Rhapsody", "Seven Seas of Rhye", "Killer Queen", "Somebody to
        Love", "Good Old-Fashioned Lover Boy", "We Are the Champions", "Bicycle
        Race", "Don't Stop Me Now", "Crazy Little Thing Called Love", and "Play
        the Game".[42] In 2003 Mercury was posthumously inducted into the
        Songwriters Hall of Fame with the rest of Queen, and in 2005 all four
        band members were awarded an Ivor Novello Award for Outstanding Song
        Collection from the British Academy of Songwriters, Composers, and
        Authors
      </p>
    </div>
    <div class="work">
      <h4>Live performer</h4>
      <img src="../images/works-2.png" alt="" />
      <p>
        Mercury was noted for his live performances, which were often delivered
        to stadium audiences around the world. He displayed a highly theatrical
        style that often evoked a great deal of participation from the crowd.
        Throughout his career, Mercury performed an estimated 700 concerts in
        countries around the world with Queen. A notable aspect of Queen
        concerts was the large scale involved.[45] He once explained, "We're the
        Cecil B. DeMille of rock and roll, always wanting to do things bigger
        and better."[45] The band was the first ever to play in South American
        stadiums, breaking worldwide records for concert attendance in the
        Morumbi Stadium in São Paulo in 1981.[59] In 1986, Queen also played
        behind the Iron Curtain when they performed to a crowd of 80,000 in
        Budapest, in what was one of the biggest rock concerts ever held in
        Eastern Europe.[60] Mercury's final live performance with Queen took
        place on 9 August 1986 at Knebworth Park in England and drew an
        attendance estimated as high as 200,000.[61] A week prior to Knebworth,
        May recalled Mercury saying "I'm not going to be doing this forever.
        This is probably the last time."[61] With the British national anthem
        "God Save the Queen" playing at the end of the concert, Mercury's final
        act on stage saw him draped in a robe, holding a golden crown aloft,
        bidding farewell to the crowd.
      </p>
    </div>
    <div class="work">
      <h4>Instrumentalist</h4>
      <img src="../images/freddie-instrumentalist.jpg" alt="" />
      <p>
        As a young boy in India, Mercury received formal piano training up to
        the age of nine. Later on, while living in London, he learned guitar.
        Much of the music he liked was guitar-orientated: his favourite artists
        at the time were the Who, the Beatles, Jimi Hendrix, David Bowie, and
        Led Zeppelin. He was often self-deprecating about his skills on both
        instruments. However Brian May states Mercury "had a wonderful touch on
        the piano. He could play what came from inside him like nobody else –
        incredible rhythm, incredible passion and feeling."Keyboardist Rick
        Wakeman praised Mercury's playing style, saying he "discovered [the
        piano] for himself" and successfully composed a number of Queen songs on
        the instrument. From the early 1980s Mercury began extensively using
        guest keyboardists. Most notably, he enlisted Fred Mandel (a Canadian
        musician who also worked for Pink Floyd, Elton John, and Supertramp) for
        his first solo project. From 1982 Mercury collaborated with Morgan
        Fisher (who performed with Queen in concert during the Hot Space
        leg),and from 1985 onward Mercury collaborated with Mike Moran (in the
        studio) and Spike Edney (in concert).
      </p>
    </div>
    <div class="work">
      <h1>Solo career</h1>
      <img src="../images/works-3.jpg" alt="" />
      <p>
        Mercury's two full albums outside the band were Mr. Bad Guy (1985) and
        Barcelona (1988). His first album, Mr. Bad Guy, debuted in the top ten
        of the UK Album Charts. In 1993, a remix of "Living on My Own", a single
        from the album, posthumously reached number one on the UK Singles
        Charts. The song also garnered Mercury a posthumous Ivor Novello Award
        from the British Academy of Songwriters, Composers and Authors. AllMusic
        critic Eduardo Rivadavia describes Mr. Bad Guy as "outstanding from
        start to finish" and expressed his view that Mercury "did a commendable
        job of stretching into uncharted territory".[75] In particular, the
        album is heavily synthesiser-driven; that is not characteristic of
        previous Queen albums. His second album, Barcelona, recorded with
        Spanish soprano vocalist Montserrat Caballé, combines elements of
        popular music and opera. Many critics were uncertain what to make of the
        album; one referred to it as "the most bizarre CD of the year".The album
        was a commercial success, and the album's title track debuted at No. 8
        in the UK and was also a hit in Spain.[78] The title track received
        massive airplay as the official anthem of the 1992 Summer Olympics (held
        in Barcelona one year after Mercury's death). Caballé sang it live at
        the opening of the Olympics with Mercury's part played on a screen, and
        again before the start of the 1999 UEFA Champions League Final between
        Manchester United and Bayern Munich in Barcelona.
      </p>
    </div>
  </body>
</html>
